<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES Universidade</title>

    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/estilo.css">
    <link rel="stylesheet" href="./static/css/responsivo.css">

</head>
<body>
    <div id="header">
        <div class="conteudo">
            <img id="unesLogo" src="./static/images/logo.png" alt="logo UNES">
            <div class="flex-container">
                <a href="/">Home</a> |
                <a href="/quemsomos">Quem Somos</a> |
                <a href="/contato">Contato</a> |
                <a href="/users">Users</a>
            </div>
        </div>
    </div>

    {% block conteudo %}

    {% endblock %}

    <footer>
        <h4>Todos os direitos reservados</h4>
    </footer>
</body>
</html>