{% extends "base.html" %}

{% block conteudo %}
    <!--Corpo - Imagem-->
    <div id="img-capa">
        <img src="./static/images/capa.png" alt="Capa do Site">
    </div>
    <!--Corpo - Texto-->
    <div id="corpoPag">
        <div class="conteudo">
            <h1>Sobre a UNES</h1>
            <p>Lorem <b>ipsum dolor</b>, sit amet consectetur adipisicing elit. Vero aperiam tenetur perspiciatis facilis blanditiis necessitatibus autem suscipit porro commodi vitae aliquam corrupti quisquam sed obcaecati officia nulla placeat, libero odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat obcaecati, quidem officiis necessitatibus voluptatibus, odio provident hic asperiores recusandae molestias similique officia impedit aspernatur vel voluptatem excepturi. Itaque, delectus! Ex?</p>
            <p>Lorem <b>ipsum dolor</b>, sit amet consectetur adipisicing elit. Vero aperiam tenetur perspiciatis facilis blanditiis necessitatibus autem suscipit porro commodi vitae aliquam corrupti quisquam sed obcaecati officia nulla placeat, libero odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat obcaecati, quidem officiis necessitatibus voluptatibus, odio provident hic asperiores recusandae molestias similique officia impedit aspernatur vel voluptatem excepturi. Itaque, delectus! Ex?</p>
        </div>
    </div>
{% endblock %}