{% extends "base.html" %}

{% block conteudo %}
    <!--Corpo com a explicação do quem somos e lista-->
    <div class="conteudo">
        <div>
            <h1>Quem somos</h1>
            <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. In ea cupiditate cumque error eveniet ipsum? Molestias aliquam fuga adipisci recusandae nam, dolores culpa nobis consequuntur earum odit ratione aut tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci a saepe asperiores ab at velit nobis fuga dolores, in accusantium doloremque vitae perspiciatis, est vero praesentium obcaecati sint culpa ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestias, quos accusamus iste similique repellat, ut et veniam suscipit libero provident magni esse temporibus voluptatem vel alias minima non tempore.</p>
        </div>
        <!-- Div com a lista dos motivos para estudar -->
        <div>
            <h1>5 motivos para estudar</h1>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
        </div>
        <hr>
        <!-- Corpo com os objetivos da faculdade-->
        <div>
            <h1>Objetivos</h1>
            <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. In ea cupiditate cumque error eveniet ipsum? Molestias aliquam fuga adipisci recusandae nam, dolores culpa nobis consequuntur earum odit ratione aut tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci a saepe asperiores ab at velit nobis fuga dolores, in accusantium doloremque vitae perspiciatis, est vero praesentium obcaecati sint culpa ullam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, labore eos assumenda ducimus a quos amet sunt distinctio quisquam nemo culpa facere officia tempora aut quis doloremque, dolorum neque molestiae.</p>
        </div>
    </div>
{% endblock %}